streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
groq
cassio
beautifulsoup4
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
langchain
langchain-core==0.1.52
langchain-community==0.0.38
langchain-groq==0.1.5
langchain-objectbox==0.1.0
langchain-openai==0.1.7
langserve==0.2.3